* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #141414;
}

h1 {
    color: white;
}

button {
    margin: 2.5rem 0 2rem 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    background: linear-gradient(to right, #4091dd, #28b4d2);
}

section {
    color: white;
}

span {
    color: #8ae242;
}
